.listColumn-container {
  width: 250px !important;
  height: fit-content !important;
  border: 5px dotted red;
  display: flex !important;
  flex-direction: column;
  padding-top: 5vh;
  justify-content: start;
}

.boardContentArea {
  width: inherit !important;
  height: fit-content !important;
  padding: 10px;
}

input {
  margin-top: 20px;
}