.listColumn_container {
  width: fit-content !important;
  height: fit-content !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-content: center !important;
  background-color: white;
  border-radius: 10px;
}

.listColumn_container_title {
  width: 250px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: darksalmon;
}

.listColumn_container_add {
  border: none;
  background-color: rgb(141, 164, 207);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 12px;
  width: 50%;
  height:30px;
  margin-bottom: 6px;
  align-self: center;
}

.boardContentArea {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-content: center !important;
  width: 100% !important;
  height: fit-content;
}

input {
  margin-top: 20px;
}